<section>
  <mat-dialog-actions>
    <button
      mat-button
      mat-dialog-close
      class="close"
      (click)="closeAndRedirect()"
    >
      <i class="material-icons">cancel</i>
    </button>
  </mat-dialog-actions>
  <div class="modal">
    <mat-dialog-content class="title"
      >Tem certeza que deseja excluir o produto?</mat-dialog-content
    >

    <div *ngIf="products">
      <ul>
        <li>
          Nome: <span>{{ products?.name }} </span>
        </li>
        <li>
          Preço: <span>{{ products?.price | currency : "BRL" }} </span>
        </li>
      </ul>
    </div>

    <div class="buttons">
      <button mat-raised-button (click)="deleteProduct()" color="warn">
        Excluir
      </button>
      <button mat-raised-button (click)="cancel()">Cancelar</button>
    </div>
  </div>
</section>
